@page
@model Mayntech___Individual_Solution.Pages.AboutUsModel
@{
}
<div class="container" style="padding-top: 90px;">
    <h1>
        About Us
    </h1>
    <p>
        The inception of MaynTechnologies was a result of the joint efforts of three individuals with backgrounds in finance, economics, and computer science. Recognizing the need for technological advancement, automation, and transparency in the finance sector, they came together to create a solution. This software was brought to life as MaynTechnologies.
    </p>
    <br />

    <p>
        MaynTechnologies aims to streamline the process of valuation by making it more efficient. With advanced algorithms and a user-friendly interface, our platform offers investors and stakeholders a comprehensive and trustworthy evaluation of a company's financial statements. 
    </p>
    <br />
    <p>
        
        We are continuously working to enhance the reliability and accuracy of our software and are fully dedicated to providing the best possible service to our users worldwide. If you have any questions or suggestions on how we can improve our software, please don't hesitate to reach out to us at <a href="mailto:mayntechnologies@gmail.com">mayntechnologies@gmail.com</a>
        
    </p>
    <p>
        Join us in our mission to bring efficiency and precision to the world of finance!
    </p>
</div>